/target
/Cargo.lock
/testdata/vallado*
/testdata/testpo*
.vscode
*.whl
build
*.egg-info
__pycache__
/satkit-testvecs
/astro-data
iframe_figures
*.so
.DS_Store
_build
html
Pipfile.lock

# GPS files
*.sp3

# Ignore local virtual environments
.venv
venv

.pytest_cache

wheelhouse
wheel
