/target
/Cargo.lock
/testdata/vallado*
/testdata/testpo*
.vscode
*.whl
build
*.egg-info
__pycache__
/satkit-testvecs
/astro-data
iframe_figures
*.so
.DS_Store
_build
html
Pipfile.lock

# Ignore automatically-created version file
_version.py

# Ignore local virtual environments
.venv

.pytest_cache

wheelhouse
wheel
