[package]
name = "satkit"
version = "0.3.14"
edition = "2021"
description = "Satellite Toolkit"
readme = "README.md"
license-file = "LICENSE"
homepage = "https://github.com/ssmichael1/satkit"
repository = "https://github.com/ssmichael1/satkit"
documentation = "https://docs.rs/satkit"
keywords = ["satellite", "orbit", "ephemeris", "tle", "astrodynamics"]
categories = ["aerospace", "algorithms", "mathematics", "science"]


# See more keys and their definitions at 
# https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "satkit"


[dependencies]
nalgebra = { version = "0.33.0", features = ["serde-serialize"] }
ndarray = "0.16.1"
libc = "0.2.158"
chrono = "0.4.19"
cty = "0.2.2"
num-traits = "0.2"
thiserror = "1.0.63"
simba = "0.9"
once_cell = "1.6.0"
numpy = { version = "0.22", optional = true }
pyo3 = { version = "0.22", features = ["extension-module"], optional = true }
ureq = "2.10.1"
json = "0.12.4"
process_path = "0.1.4"
serde = { version = "1.0", features = ["derive"] }
serde-pickle = "1.1.1"

[build-dependencies]
cc = { version = "1.1", features = ["parallel"] }
chrono = "0.4.38"
pyo3-build-config = { version = "0.22.4", optional = true }

[dev-dependencies]
rand = "0.8.5"
approx = "0.5.1"
rand_distr = "0.4.3"

[features]
pybindings = ["pyo3", "numpy", "pyo3-build-config"]

[profile.test]
opt-level = 3
