[package]
name = "satkit"
version = "0.2.8"
edition = "2021"
description = "Satellite Toolkit"
readme = "README.md"
licence = "MIT"
license-file = "LICENSE"
homepage = "https://github.com/ssmichael1/satkit"
repository = "https://github.com/ssmichael1/satkit"
documentation = "https://docs.rs/satkit"
keywords = ["satellite", "orbit", "ephemeris", "tle", "astrodynamics"]
categories = ["aerospace", "algorithms", "mathematics", "science"]


# See more keys and their definitions at 
# https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "satkit"


[dependencies]
nalgebra = "0.32.3"
ndarray = "0.15.6"
libc = "0.2"
chrono = "0.4.19"
cty = "0.2.2"
num-traits = "0.2"
thiserror = "1.0"
simba = "0.8"
once_cell = "1.6.0"
numpy = { version = "0.21.0", optional = true }
pyo3 = { version = "0.21.0", features = ["extension-module"], optional = true }
ureq = "2.9.1"
json = "0.12.4"
process_path = "0.1.4"

[build-dependencies]
cc = { version = "1.0.74", features = ["parallel"] }
chrono = "0.4.19"
pyo3-build-config = { version = "0.21.0", optional = true }

[dev-dependencies]
rand = "0.8.5"
approx = "0.5.1"

[features]
pybindings = ["pyo3", "numpy", "pyo3-build-config"]

[profile.test]
opt-level = 3
