include Cargo.toml
include Cargo.lock
include LICENSE
include README.md
include pyproject.toml
recursive-include src *.rs
recursive-include python/src *.rs
include python/Cargo.toml
include python/build.rs
recursive-include extern *.c *.h
graft python/satkit
prune __pycache__
prune docs
prune test
