[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
ipykernel = "*"
plotly = "*"
nbformat = "*"
pandas = "*"
sphinx-autoapi = "*"
nbsphinx = "*"
sphinx-rtd-theme = "*"
mypy = "*"
myst-parser = "*"
commonmark = "*"
pandoc = "*"
satkit = "*"
sphinx = "*"
ipykernel = "*"
plotly = "*"
nbformat = "*"
pandas = "*"
sphinx-autoapi = "*"
nbsphinx = "*"
sphinx-rtd-theme = "*"
mypy = "*"
myst-parser = "*"
commonmark = "*"

[dev-packages]

[requires]
python_version = "3.12"
